@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root,
.dark {
  /* FONT FAMILIES */
  --font-sans: "Geist", "Manrope", "Poppins", Arial, sans-serif;
  --font-mono: "Fira Code", monospace;
  --font-display-family: "Manrope", "Geist", "Poppins", Arial, sans-serif;
  /* FONT SIZES (responsive) */
  --font-display: clamp(2.2rem, 2rem + 2vw, 4.2rem);
  --font-h1: clamp(2rem, 5.5vw, 2rem); /* ~32px max */
  --font-h2: clamp(1.5rem, 4.5vw, 1.5rem); /* ~24px max */
  --font-h3: clamp(1.125rem, 4vw, 1.125rem); /* ~18px max */
  --font-body: 1rem; /* 16px */
  --font-small: 0.875rem; /* 14px */
  --font-caption: 0.75rem; /* 12px */

  /* FONT WEIGHTS */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* LINE HEIGHTS */
  --lh-display: 1.15;
  --lh-heading: 1.2;
  --lh-body: 1.5;
  --lh-small: 1.4;
}
